rotate-all(degrees, args...) {
    unless unit(degrees) is 'deg' {
        error('"degrees" må være i grader');
    }

    transform: rotate(degrees) args;
}

h2
  color: yellow

p
  transform-origin: 0 0
  rotate-all(180deg)
